.form-group {
	margin-bottom: 15px;
	position: relative;

	&__label {
		color: $color-white;
		display: block;
		font-size: 12px;
		font-weight: bold;
		margin-bottom: 5px;
		text-transform: uppercase;
	}

	&__input,
	&__select {
		border: 2px solid $color-gray;
		border-radius: 3px;
		color: $color-blue;
		font-family: $font-primary;
		font-size: 16px;
		padding: 10px;
		transition: border-color .15s ease-in-out;
		width: 100%;

		&:active,
		&:focus {
			border-color: darken($color-gray, 20%);
			outline: 0;
		}
	}

	&__select {
		appearance: none;
		background-image: url('../../images/icons/caret-down.svg');
		background-position: 98% 50%;
		background-repeat: no-repeat;
	}
}
