/* Theme colors */
$color-red: #E97158;
$color-yellow: #FEC14B;
$color-green: #A0BC57;
$color-green-neon: #E4EC2F;
$color-blue: #262C3A;
$color-blue-light: #B5EDFC;
$color-gray: #B5C1C3;
$color-white: #FFF;
$color-black: #000;
