@import '_partials/reset';
@import '_partials/mixins';
@import '_partials/utils';
@import '_partials/fonts';
@import '_partials/colors';

body {
	font-family: $font-primary;
	font-size: 16px;
	font-style: normal;
}
