/* Base styles */
@import 'partials/reset';
@import 'partials/mixins';
@import 'partials/utils';
@import 'partials/fonts';
@import 'partials/colors';

body {
	color: $color-white;
	font-family: $font-primary;
	font-size: 16px;
	font-style: normal;
}

/* Components styles */
@import 'components/header';
@import 'components/hero';
@import 'components/buttons';

/* Views styles */
@import 'views/home';
